
{% extends "base.html" %}

{% load static %}
{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
  <link rel="stylesheet" href="{% static 'css/users/auth.css' %}" />
{% endblock head %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form method="post" class="box">
            {% csrf_token %}
            <h1>Login</h1>
            <p class="text-muted">Please enter your email and password</p>
            <input type="email" name="username" value="{{ form.username.value|default_if_none:'' }}" placeholder="Email" />
            {{form.errors.username}}
            <input type="password" name="password" placeholder="Password" />
            {{form.errors.password}}
            {{form.non_field_errors}}
            <input type="submit" value="Login" />
            <a class="forgot text-muted" href="{% url 'password_reset' %}">Forgot password?</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
