
{% extends "base.html" %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
  <link rel="stylesheet" href="{% static 'css/users/auth.css' %}" />
{% endblock head %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form method="post" class="box">
            {% csrf_token %}
            <h1>Enter new password</h1>
            <p class="text-muted">Please enter your new password twice so we can verify you typed it in correctly.</p>
            <input type="password" name="new_password1" placeholder="Password" />
            {{form.errors.new_password1}}
            <input type="password" name="new_password2" placeholder="Password confirm"/>
            {{form.errors.new_password2}}
            {{form.non_field_errors}}
            <input type="submit" value="Send" />
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
