{% extends "base.html" %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/filters.css' %}" />
{% endblock head %}

{% block content %}

  {% block filtering %}
  {% endblock filtering %}

  <div class="content">

    {% block page_title %}
    {% endblock page_title %}

    {% block top_pagination %}
      {% include "pagination.html" %}
    {% endblock top_pagination %}

    {% block fanfiction_list %}
    {% endblock fanfiction_list %}

    {% block bottom_pagination %}
      {% include "pagination.html" %}
    {% endblock bottom_pagination %}

  </div>

  {% block extra_js %}
    <script type="text/javascript" src="{% static 'js/clear-url.js' %}"></script>
  {% endblock extra_js%}

{% endblock %}
